body{

font-family:Arial;
background:#cb5b15;

}


.container{

width:300px;
margin:100px auto;
background:rgb(153, 124, 20);
padding:25px;
border-radius:10px;
text-align:center;

}



input{

width:90%;
padding:10px;
margin:10px;

}



button{

padding:10px 20px;
margin:10px;
cursor:pointer;

}



.pass{

display:flex;
align-items:center;

}


.pass input{

width:70%;

}


.card{

background:#f30909;
padding:20px;
border-radius:10px;

}